@import "tailwindcss";

@plugin "flyonui/index.js" {
  themes: corporate --default, dark --prefersdark;
}

@import "flyonui/variants.css";

/* Ensure Tailwind scans FlyonUI JS for utility classes used in components */
@source "../../../node_modules/flyonui/flyonui.js";

/* Scan project source files */
@source "../../../**/*.{vue,js,ts,jsx,tsx}";

@plugin "@iconify/tailwind4";

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}