{{ t(key="email.greeting") }} {{ user_name | default(value="there") }},

{{ t(key="email.confirmation.instruction_text") }}
{{ confirm_url }}

{{ t(key="email.confirmation.expiry_notice") }}

---
{{ app_name }}
