{{ t(key="email.greeting") }} {{ user_name | default(value="there") }},

{{ t(key="email.password_reset.instruction_text") }}
{{ reset_url }}

{{ t(key="email.password_reset.expiry_notice") }}

---
{{ app_name }}
