{{ t(key="email.greeting") }} {{ user_name | default(value="there") }},

{{ t(key="email.password_changed.heading") }}

{{ t(key="email.password_changed.warning") }}

{{ t(key="email.password_changed.sessions_notice") }}

---
{{ app_name }}
