{{ t(key="email.greeting") }} {{ user_name | default(value="there") }},

{{ t(key="email.two_factor_setup.heading") }}

{{ t(key="email.two_factor_setup.secret_heading") }}:
{{ secret }}

{{ t(key="email.two_factor_setup.qr_heading") }}:
{{ qr_code_url }}

{{ t(key="email.two_factor_setup.backup_heading") }}:
{{ backup_codes_text }}

{{ t(key="email.two_factor_setup.backup_warning") }}

---
{{ app_name }}
