{{ t(key="email.greeting") }} {{ user_name | default(value="there") }},

{{ t(key="email.welcome.heading", app_name=app_name) }}

{{ t(key="email.welcome.instruction_text") }}
{{ confirm_url }}

{{ t(key="email.welcome.expiry_notice") }}

---
{{ app_name }}
