<p>{{ t(key="email.greeting") }} <strong>{{ user_name | default(value="there") }}</strong>,</p>

<p>{{ t(key="email.welcome.heading", app_name=app_name) }}</p>

<p>{{ t(key="email.welcome.instruction") }}</p>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td><a href="{{ confirm_url | safe }}" target="_blank">{{ t(key="email.confirmation.button") }}</a></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<p>{{ t(key="email.link.fallback") }}</p>
<p class="code-block">{{ confirm_url | safe }}</p>

<div class="alert">
  {{ t(key="email.welcome.expiry_notice") }}
</div>
